.letter-board {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #271c19;
  color: white;
  font-size: 20px;
  min-width: 760px;

  & .letter-row {
    padding: 5px 15px;
  }

  & .letter-group {
    margin: 0 5px;
  }

  & .letter {
    position: relative;
    padding: 0 2px;
  }
}

.active-letter::after {
  position: absolute;
  display: inline-block;
  content: '';
  border-bottom: 2px solid white;
  width: 10px;
  top: 22px;
  left: 2px;
}

.hit {
  color: #32e132;
}