.navigation-phase {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  color: white;
  margin-bottom: 20px;
  min-width: 760px;

}

.navigation-phase .repeat-button {
  margin: 0 20px;
  font-size: 35px;
  cursor: pointer;
}

.navigation-phase .arrow-button {
  font-size: 18px;
  cursor: pointer;
}
