.navigation-phase {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  color: white;
  margin-bottom: 20px;
  min-width: 760px;

  & .repeat-button {
    margin: 0 20px;
    font-size: 35px;
    cursor: pointer;
  }
  
  & .arrow-button {
    font-size: 18px;
    cursor: pointer;
  }
}
