.status-typing {
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  min-width: 760px;

  & .status {
    position: relative;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0 5px;
  }

  & .metrics {
    display: flex;
    justify-content: space-around;
    width: 30%;
  }

  & .tpm {
    width: 10%;
    color: rgba(255, 255, 255, 0.555);
  }

  & .level {
    width: 25%;
  }

  & .status-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}