.status-typing {
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  min-width: 760px;

  
}

.status-typing .status {
  position: relative;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 0 5px;
}

.status-typing .metrics {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.status-typing .tpm {
  width: 10%;
  color: rgba(255, 255, 255, 0.555);
}

.status-typing .level {
  width: 25%;
}

.status-typing .status-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}