* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #6E5C62;
  font-family: sans-serif;
}
header {
  color: white;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  margin: 0 auto;
  padding: 10px;

  & section {
    width: 96%;
  }
}

.instruction-container {
  display: none;
  position: absolute;
  color: white;
  background-color: #6E5C62;
  top: 100px;
  left: 50%;
  padding: 40px;
  transform: translateX(-50%);
  text-align: center;
  box-shadow: 1px 1px 6px 500px hsla(0, 0%, 0%, 0.7);
  & p {
    line-height: 30px;
  }
}

.hand-pos-initial {
  width: 550px;
}

.hand-pos-complete {
  height: 324px;
}

.instruction-title {
  margin-bottom: 20px;
}


.btn-instruction-next {
  margin: auto;
  display: block;
  cursor: pointer;
  width: 100px;
  margin-top: 20px;
}

.btn-instruction-close {
  margin: auto;
  display: block;
  cursor: pointer;
  width: 100px;
  margin-top: 20px;
}


.instruction-article2 {
  display: none;
}

.instruction-alert-section {
  text-align: center;
  border: 2px solid rgb(230, 90, 90);
  color: rgb(230, 90, 90);
  padding: 5px 0;
  margin-bottom: 10px;
  min-width: 760px;
  font-size: 25px;

  & .repeat-button {
    margin: 0 20px;
    cursor: pointer;
  }
  
  & .arrow-button {
    cursor: pointer;
  }

  & #instrucao {
    cursor: pointer;
  }
}

